<%= form_with(model: @pick, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :game_id %>

    <%= f.collection_select :game_id, Game.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :team %>

    <%= f.text_field :team, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :weight %>

    <%= f.text_field :weight, class: "form-control" %>
  </div>

  <%= f.submit "Create pick", class: "btn btn-block btn-outline-secondary" %>
<% end %>
