<div class="card mb-3">
  <h2 class="card-header h4">
    Game #<%= game.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Favorite</dt>
      <dd>
        <% if @game.favorite.present? %>
          <%= link_to game.favorite, game.favorite %>
        <% end %>
      </dd>

      <dt>Underdog</dt>
      <dd>
        <% if @game.underdog.present? %>
          <%= link_to game.underdog, game.underdog %>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= game.description %></dd>

      <dt>Week</dt>
      <dd>
        <% if @game.week.present? %>
          <%= link_to game.week, game.week %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back game, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_game_url(game), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to game, method: :delete, data: { confirm: "Do you really want to delete this game?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(game.updated_at) %> ago
  </div>
</div>
