<%= form_with(model: @pick, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :game_id, value: @game.id %>

  <div class="form-group">
    <%= f.label :team %>

    <%= f.text_field :team, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :weight %>

    <%= f.text_field :weight, class: "form-control" %>
  </div>

  <%= f.submit "Create pick", class: "btn btn-block btn-outline-secondary" %>
<% end %>
