<div class="card mb-3">
  <h2 class="card-header h4">
    Pick #<%= pick.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <!-- Display user_id start -->
      <dd>
        <% if @pick.user.present? %>
          <%= link_to pick.user, pick.user %>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>Game</dt>
      <!-- Display game_id start -->
      <dd>
        <% if @pick.game.present? %>
          <%= link_to pick.game, pick.game %>
        <% end %>
      </dd>
      <!-- Display game_id end -->

      <dt>Team</dt>
      <!-- Display team start -->
      <dd><%= pick.team %></dd>
      <!-- Display team end -->

      <dt>Weight</dt>
      <!-- Display weight start -->
      <dd><%= pick.weight %></dd>
      <!-- Display weight end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back pick, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link pick start -->
      <div class="col">
        <% if current_user == @pick.user %>
          <%= link_to edit_pick_url(pick), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Edit link pick end -->

      <!-- Delete link pick start -->
      <div class="col">
        <% if current_user == @pick.user %>
          <%= link_to pick, method: :delete, data: { confirm: "Do you really want to delete this pick?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
      <!-- Delete link pick end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(pick.updated_at) %> ago
  </div>
</div>
